.carousel-caption {
    position: absolute;
    top:5%;
    right: 15%;
    bottom: 10px;
    left: 15%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.banner-content {
    margin-top: 15%;
}

.banner-content h1 {
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.15em;
    padding-top: 30px;
}
.carousel-caption h3 {
    color:#2df8f0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.15em;
    padding-top: 50px;
    margin-right: 1%;
    margin-left: 1%;
    text-align: left;
}
.justificar {
    text-align: justify;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 .w-100 {
    width: 100% !important;
    height: 100%;
}
}